PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=dancebook

JWT_SECRET=dancebook_secret_key_2026
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SEED_USER_NAME=Guru Ekstrakurikuler Tari
SEED_USER_EMAIL=guru@dancebook.local
SEED_USER_PASSWORD=ganti_password_ini
